/************ générique **********/
* {
    margin: 0;
    font-family: "Dosis", sans-serif;
    box-sizing: border-box;
    color: #434343;
}

html  {
    max-width: 100% !important ;
    overflow-x: hidden;
}

a.avis {
    font-weight: bold;
    color: #2FC39E;
    font-size: small;
}

main {
    position: relative;
}

body{
    position: relative;
}

#img_fond2 {
    position: absolute;
    width: 1151.5px;
    height: 1300px;
    left: -614px;
    top: 614px;

    z-index: -5;
}
#question {
    color: #ffffff;
}

/**************/
/*********** header ***********/
    header.body {
        padding: 2.5rem 0 20rem 2.5rem;
        position: relative;
        overflow: hidden;
        max-height: 20rem;
    }
    header.body div.flex {
        align-items: center;
        padding-top: 2.5rem;
        margin-left: 15%;
        font-size: 2.5rem;
        text-wrap: nowrap;
    }
    header.body div.flex .savoir_plus,
    header.body a.cwhite {
        margin: 0 20px;
    }
    header.body div div.savoir_plus {
        color:#2FC39E;
        border:#2FC39E solid 3px;
        border-radius: 9px;
        margin-right: 2.5rem;
        background: #ffffff;

        z-index: -2;
    }
    header.body span {
        z-index: 1;
    }
    #img_fond1 {
        position: absolute;

        margin: -100px -150px;

        top: -680px;
        right: -400px;

        z-index: -1;
    }
    header #logo {
        position: absolute;
        width: 12%;
        height: 25%;
    }
/****************/
/*** main ****/
    main {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 9.375rem;
        max-width: 1440px;
        width: 100%;
        overflow: hidden;
    }
/*********** container ***********/
    .container {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 2rem;
    }

    .column-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    /**********/
    /****** centre *******/
        div.centre {
            display: grid;
        }
        div.logo_info {
            padding-right: 1.25rem;
        }
        div.logo_info div#avis {
            justify-content: center;
        }
        div.centre_info_text {
            margin-left: 20px;
        }
        div.centre_info_text h3,
        div.centre_info_text h4,
        div.centre_info_text div#adresse {
            margin-bottom: 10px;
        }
        div.centre_info_text div#contact{
            display: none;
        }
        div#r_sociaux {
            align-items: start;
            margin: 0 auto;
        }
        div#r_sociaux div.social {
            margin-right: 10px;
        }
        div.centre div#logo_centre {
            background-color: white;
            width: 153px;
            height: 143px;
            justify-content: center;
            align-items: center;
        }
        #logo_centre img {
            height: 36px;
        }
        div.logo_info img{
            width: 120px;
            margin: auto;
        }
        button#show_num {
            background-color: #2FC39E;        
            border-radius: 5px
        }
    /**************/
    /****** information docteur *****/
        div.info_dr {
            display: none;
            gap: 10px;
        }
        div.img_info {
            height: 9em;
        }
        div.img_info #img_profil{
            padding: 10px;
            height: 6em;
        }
        #notation {
            width: 90px;
            margin: auto;
        }
        div.dr_info h3 {
            margin-bottom: 15px;
        }

        div.dr_info div#avis_dr {
            margin-top: 15px;
            font-size: small;
        }
    /***********/
    /****** calendrier *****/    
        div.calendar {
            text-align: center;
        }
        div.calendar #consultation-type {
            width: 100%;
            height: 40px;
            border-radius: 9px;
            text-align: center;
            font-size: 1.9rem;
            margin-bottom: 20px;
        }
        div.calendar #consultation-type > option{
            font-size: 1rem;
        }
        div.calendar .date-selection {
            display: flex;
            align-items: center;
        }

        div.calendar #calendar {
            text-align: center;
        }
        
        div.calendar .date-selection button {
            background-color: #fafafa;
            color: #007bff;
            border: none;
            padding: 0.5rem;
            cursor: pointer;
        }
        
        div.calendar .dates-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        div.calendar .day {
            padding: 0.5rem;
            border-radius: 9px;
            text-align: center;
            min-width: 3rem;
            cursor: pointer;
        }
        
        div.calendar .day:hover,
        div.calendar .selected-day,
        div.calendar .selected-time,
        div.calendar .selected-time:hover {
            background-color: #CCFFF4;
        }
        
        div.calendar #time {
            display: flex;
            margin: auto;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 70px;
        }
        div.calendar #time > button {
            border-radius: 1px;
            margin: 5px 5px;
            font-size: 1rem;
            background-color: #2ABADA;
            justify-content: center;
            border: none;
            color: #ffffff;
        }
        div.calendar #time button.hide {
            display: none;
        }
        div.calendar #time button.see_more {
            background-color: #fafafa;
            text-wrap: nowrap;
            border: none;
            color: #434343;
        }
        
        div.calendar .appointment-button {
            width: 150px;
            height: 40px;
            margin: 10px;
            text-align: center;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            border-radius: 5px;
            cursor: pointer;
        }
        
        div.calendar #submit-appointment {
            background-color: #04BE96;
            color: #fff;
            border: none;
            border-radius: 9px;
            padding: 0.5rem 1rem;
            margin-top: 1rem;
            cursor: pointer;
        }
        
        div.calendar #submit-appointment:hover {
            background-color: #0056b3;
        }
        div.calendar #prev-week,
        div.calendar #next-week {
            border-radius: 40%;
            font-size: 1.1rem;
        }
        div.calendar #prev-week {
            margin-right: 10px;
        }
        
        div.calendar #next-week {
            margin-left: 10px;
        }
          
    /*******/
    /****** maps ******/
        .maps {
            justify-content: center;
            align-items: center;
        }
        .maps img {
            width: 550px;
        }
        div.info_centre div.open {
            margin-bottom: 0.625rem;
            display: grid;
        }
        div.info_centre div.open div.day,
        div.info_centre div.other_info div#other {
            padding-left: 10px;
        }
        div.info_centre div.open div.day {
            width: 20%;
        }
        div.info_centre div.acces div.access {
            width: 4%;
            align-items: center;
            justify-content: center ;
        }
        div.info_centre div.acces div.park,
        div.info_centre div.acces div.handycap {
            margin-top: 10px;
        }
    /********/
    /****** votre audioprothésiste + votre centre ******/
        
        div.v_audiopro div:last-child,
        div.v_centre_audit div:last-child {
            padding: 20px 0 30px;

        }
    /****** avis et commentaires *****/
        div.avis_comment div.comment {
            height: 80px;
            border-top: #D0D0D0 solid 1px;
            padding-top: 10px;
            margin-bottom: 10px;
        }
        div.avis_comment div.comment:last-child {
            display: none;
        }
        div.avis_comment div.avatar img{
            width: 40px;
            height: 40px;
            justify-content: center;
            align-items: center;
        }
        div.avis_comment div.username {
            width: 200px;
            text-align: center;
        }
        div.avis_comment .stars {
            justify-content: center;
        }
        div.avis_comment div.content {
            width: 90%;
        }
        div.avis_comment button {
            background-color: #FAFAFA;
            margin: -25px auto;
            padding: 0 30px;
        }


    /**** Selection médecin ****/
        
        div.select_dr .cards {
            display: grid;
            gap: 10px;
        }
        div.select_dr .card.focused {
            background-color: #CCFFF4;
        }
        div.select_dr a {
            text-decoration: none;
            color: #000000;
        }
        div.select_dr article {
            padding-right: 20px;
        }
        div.select_dr .card{
            border-radius: 10px;
            padding-left: 20px;
        }
        div.select_dr article header {
            margin: auto;
        }
        div.select_dr .card h4 {
            color: #04BE96;
            margin-bottom: 10px;
        }
        div.select_dr .card .content img {
            width: 100px;
            margin-top: 10px;
            align-items: center;
        }
        div.select_dr .cards .img_profil {
            height: 6em;
            padding-right: 10px;
        }
        div.select_dr #more_dr {
            display: none;
        }
        div.select_dr button {
            height: 20px;
            padding-bottom: 30px;
            margin: auto;
            background-color: #fafafa;
        }

    /****** galerie image ******/
        div.galerie_media div.img_top {
            margin-left: -20px;
            justify-content: space-around;
        }
        div.galerie_media div.img_bottom {
            margin-left: -20px;
            justify-content: space-around;
        }
        div.galerie_media div.img_top img {
            height: 6em;
        }
        div.galerie_media div.img_bottom img {
            height: 5em;
        }

        
    /****** services ******/
    /****** spécialité *******/
    /****** prestation et tarif *******/
        div.services div.column:last-child,
        div.special div.column:last-child,
        div.presta div.column:last-child {
            padding-left: 20px;
        }
        div.services div.flex p,
        div.special div.flex p, 
        div.presta div.flex p {
            margin-bottom: 10px;
        }
        div.presta div.column:last-child p {
            margin-bottom: 0px;
        }
        div.tiers span {
            font-size: small;
            padding-left: 10px;
        }
    /****** diplome et expérience ******/
    /****** information paiement ******/
        div.exp div.column > p,
        div.paiement div.column > p {
            margin: 10px 0;
        }
        div.exp div.column:last-child,
        div.paiement div.column:last-child {
            padding-bottom: 10px;
        }
    
    /****** FAQ ******/
        div.faq {
            position: relative;
            height: 250px;
        }
        div.faq a {
            text-decoration: none;
            color: #000000;
        }
        div.faq img {
            position: absolute ;
            top: 20px;
            right: 20px;
        }
        div.faq div.hide {
            display: none;
        }
        div.faq button {
            margin: -45px auto;
            padding: 10px 30px;
            background-color: #fafafa;
        }
        div.faq button.faq_more {
            color: #2ABADA;
            justify-content: center;
            padding: 0;
            width: 20px;
            height: 20px;
            margin-top: 40px;
            font-size: medium;
            font-weight: 700;
        }
/********** Actu **********/
    section.actu .box{
        margin-bottom: 2.5rem;
        margin-top: 2.5rem;
        text-align: center;
        width: 100%;
        max-width: 2560px;
    }
    .actu #actu {
        justify-content: center;
    }
    section.actu .cards {
        position: relative;
        overflow: hidden;
    }
    section.actu .item {
        margin: 40px 10px;
    }

    section.actu .carousel__container {
        transition: transform 0.3s;
        transform: translate3d(0, 0, 0);
    }

    section.actu .carousel__container::after {
        content: '';
        clear: both;
        display: table;
    }

    section.actu .carousel__item {
        float: left;
    }

    section.actu .carousel__next, 
    section.actu .carousel__prev {
        position: absolute;
        width: 50px;
        height: 40px;
        font-size: 1.2rem;
        border-radius: 9px;
        top: 50%;
        margin-top: -20px;
        right: -22px;
        color: #2ABADA;
        cursor: pointer;
        transition: transform 0.3s;
    }
    section.actu .carousel__next:hover, 
    section.actu .carousel__prev:hover {
        transform: scale(1.2);
    }
    section.actu .carousel__prev {
        right: auto;
        left: -22px;
    }

    section.actu .card {
        display: grid;
    }

    section.actu .card img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    section.actu .card h4 {
        color: #2FC39E;
        text-align: center;
        margin-top: 1.25rem;
    }
    section.actu .card h3 {
        text-align: center;
    }
    section.actu .calend {
        text-align: center;
    }
    section.actu i.calend {
        color: #000000;
    }


/********** test auditif ***********/
    .test_audit {
        display: grid;
        background-color: #fff;
        border: none;
    }
    .test_audit .test {
        justify-content: center;
        align-items: center;
        text-align: end;
        gap: 1.2rem;
    }
    .test_audit .test img.test {
        width:50%;
    }
    .test_audit .test button {
        border-radius: 10px;
        padding: 0.1em 0.2em 0.15em;
        border: none;
        text-wrap: nowrap;
        font-size: 2rem;
        width: 18.5rem;
    }
    .test_audit .test button.audit_test {
        background-color: #3489CA;
    }
    .test_audit .test button.give_rdv {
        background-color: #04BE96;
    }
    .test_audit .test p {
        height: 50px;
    }

/*********** footer ***********/
    footer {
        width: 100% ;
        background-image: url('/img/Composant\ 1\ –\ 2.png');
        background-repeat: no-repeat;
        height: 14.375rem;
        background-color: #04be96;
    }